.align {
    display: flex;
    
  }
  
  button {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: teal;
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    
  }
  