.backBtn {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
  }
  .product-container {
    width: 90vw;
    height: 80vh;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    img {
      width: 50vw;
    }
    .desc {
      padding: 20px;
      color: #fff;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
    }
  }